@font-face {
    font-family: "Raleway";
    src: local("Raleway"),
     url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");

    }
@font-face {
    font-family: "Spartan";
    src: local("Spartan"),
     url("../fonts/Spartan-VariableFont_wght.ttf") format("truetype");
    font-weight: 300;
    }

/* CONTAINER */
#timer-app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
    color: #fff;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 300;
    
    max-height: 100vh;

    background-attachment: fixed;
    /*max-height: 640px;*/
}

/* APP */
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 90vh;
    width: 100%;
    
}
#sessionOrBreak {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    padding-bottom: 30px ;
}
#set-time-row {
    display: flex;
}
.setTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-weight: 500;
}
.setButtons {
    display: flex;
    font-family: "Spartan";
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
.buttonsSetTime {
    width: 35px;
    height: 35px;
    background-color: #ffffff00;
    border: none;
}
#numberOfSessions {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 15px;
}
#playPause {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#playButton {
    height: 120px;
    width: 120px;
    border: none;
    background-color: #fff;
    border-radius: 100px;
    padding: 40px;
    position: relative;
    margin-top: 30px;
}

/* FOOTBAR */
#footbar {
    flex-basis: 10vh;
    background: #fff;
    width: 100%;
}
#footbarItems {
    display: flex;
    justify-content: space-between;
    background: #fff;
    height: 100%;
}
#resetButton, #uselessButton  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px 10px 20px;
    height: 55px;
    width: 55px;
    color: #c2c2c2;
    background: #ffffff00;
    border: none;
}

@media (max-height: 674px) {
    #playButton {
        position: absolute;
        flex-basis: 10vh;
    }
    #footbar {
        flex-basis: 10vh;
    }
}
@media (max-width: 285px) {
    #playButton {
        position: relative;
    }
}